APP_NAME=EventFlow
ENVIRONMENT=development
DEBUG=true

# local | grpc
EVENTFLOW_INTERNAL_TRANSPORT=local

DATABASE_URL=postgresql+asyncpg://eventflow:eventflow@localhost:5432/eventflow
REDIS_URL=redis://localhost:6379/0

API_KEY_HEADER_NAME=X-EventFlow-API-Key

# Worker configuration
WORKER_CONCURRENCY=4
# WORKER_NAME=my-worker
JWT_ACCESS_SECRET_KEY=your-secure-access-key
JWT_REFRESH_SECRET_KEY=your-secure-refresh-key
QUEUE_PUBLISHER_BACKEND=
